{% extends "core.html.twig" %}
{% block content %}
    <center>
        <p class="info">
            La Maison des Ligues de Lorraine (MDL) a pour mission de fournir des espaces et des services aux 
            différentes ligues sportives régionales et à d’autres structures hébergées. La MDL est une structure 
            financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional 
            Olympique et Sportif de Lorraine (CROSL).
        </p>
        
        <p>
            Le Congrès sera organisé le : Samedi 17 et le Dimanche 18 septembre 2022.
        </p>
        <div class="d-flex justify-content-center">
            <div class="p-2">Flex item 1</div>
            <div class="p-2">Flex item 2</div>
            <div class="p-2">Flex item 3</div>
        </div>
        <ul>
        {% for hotel in hotels %}
            <li>{{ hotel.pnom }}</li>
        {% endfor %}
        </ul>
        
    </center>

{% endblock %}