{% extends 'core.html.twig' %}

{% block title %}Modification des vacations - MDL{% endblock %}

{% block content %}
    <h2 class="mt-5 text-center"> Liste des ateliers avec vacations </h2>
    <hr class="mt-4 w-25">
{% endblock %}
